.introTitle{
    animation-duration: 1s;
    animation-name: traslation;
    position: relative;
    text-align: left;
    left: 25px;
}

@keyframes traslation {
    from{
        left: 1500px;
        opacity: 0;
    }
    
    to{
        left: 25px;
        opacity: 1;
    }
}


.introTitle2{
    animation-duration: 2s;
    animation-name: traslation2;
    position: relative;
    text-align: left;
    left: 75px;
}

@keyframes traslation2 {
    from{
        left: 1500px;
        opacity: 0;
    }
    
    to{
        left: 75px;
        opacity: 1;
    }
}

@keyframes typing {
    0% {width : 0;border-right: 4px solid; opacity:1}
    25%{border-right: 0px solid; opacity:1}
    50%{border-right: 4px solid; opacity:1}
    75%{border-right: 0px solid; opacity:1}
    100% {
            border-right: 0px solid; opacity:1; 
            /* display: none;  */
        }
    /* 80% {width : 0;} */
}
/*
@keyframes blink {
    50%{border-color: transparent;}

}
*/
#s0{
    opacity: 0;
    text-align: left;
    position: relative;
    left: 100px;
    display: block;
    white-space: nowrap;
    width: 10ch;
    overflow: hidden;
    /* animation: typing 1s steps(10),
    blink .5s infinite step-end alternate */
    animation-duration: 1s;
    animation-timing-function: steps(10);
    animation-name: typing;
    animation-delay: 3s;
    animation-fill-mode: forwards;
}

#s1{
    opacity: 0;
    text-align: left;
    position: relative;
    left: 100px;
    display: block;
    white-space: nowrap;
    width: 10ch;
    overflow: hidden;
    animation-duration: 1s;
    animation-timing-function: steps(5);
    animation-name: typing;
    animation-delay: 4s;
    animation-fill-mode: forwards;
}

#s2{
    opacity: 0;
    text-align: left;
    position: relative;
    left: 100px;
    display: block;
    white-space: nowrap;
    width: 10ch;
    overflow: hidden;
    animation-duration: 1s;
    animation-timing-function: steps(6);
    animation-name: typing;
    animation-delay: 5s;
    animation-fill-mode: forwards;
}

#s3{
    opacity: 0;
    text-align: left;
    position: relative;
    left: 100px;
    display: block;
    white-space: nowrap;
    width: 10ch;
    overflow: hidden;
    animation-duration: 1s;
    animation-timing-function: steps(6);
    animation-name: typing;
    animation-delay: 6s;
    animation-fill-mode: forwards;
}

#s4{
    opacity: 0;
    text-align: left;
    position: relative;
    left: 100px;
    display: block;
    white-space: nowrap;
    width: 3ch;
    overflow: hidden;
    animation-duration: 1s;
    animation-timing-function: steps(3);
    animation-name: typing;
    animation-delay: 7s;
    animation-fill-mode: forwards;
}

#s5{
    opacity: 0;
    text-align: left;
    position: relative;
    left: 100px;
    display: block;
    white-space: nowrap;
    width: 7ch;
    overflow: hidden;
    animation-duration: 1s;
    animation-timing-function: steps(7);
    animation-name: typing;
    animation-delay: 8s;
    animation-fill-mode: forwards;
}

#s6{
    opacity: 0;
    text-align: left;
    position: relative;
    left: 100px;
    display: block;
    white-space: nowrap;
    width: 3ch;
    overflow: hidden;
    animation-duration: 1s;
    animation-timing-function: steps(3);
    animation-name: typing;
    animation-delay: 9s;
    animation-fill-mode: forwards;
}

#s7{
    opacity: 0;
    text-align: left;
    position: relative;
    left: 100px;
    display: block;
    white-space: nowrap;
    width: 7ch;
    overflow: hidden;
    animation-duration: 1s;
    animation-timing-function: steps(6);
    animation-name: typing;
    animation-delay: 10s;
    animation-fill-mode: forwards;
}

#s8{
    opacity: 0;
    text-align: left;
    position: relative;
    left: 100px;
    display: block;
    white-space: nowrap;
    width: 11ch;
    overflow: hidden;
    animation-duration: 1s;
    animation-timing-function: steps(11);
    animation-name: typing;
    animation-delay: 11s;
    animation-fill-mode: forwards;
}

@keyframes goOut{
    100%{opacity: 0; display: none;}
}

.abilities{
    animation-name: goOut;
    animation-duration: 3s;
    animation-delay: 15s;
    animation-fill-mode: forwards;
}

@keyframes goIn {
    0%{opacity: 0; display: none;}
    50%{display: block;}
    100%{opacity: 1;}
}

.experience{
    opacity: 0;
    animation-name: goIn;
    animation-duration: 3s;
    animation-delay: 18s;
    animation-fill-mode: forwards;
}

#e0{
    opacity: 0;
    text-align: left;
    position: relative;
    left: 100px;
    display: block;
    white-space: nowrap;
    width: 11ch;
    overflow: hidden;
    animation-duration: 1s;
    animation-timing-function: steps(11);
    animation-name: typing;
    animation-delay: 21s;
    animation-fill-mode: forwards;
}