video {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: -1;
}

/*arriba derecha abajo izquierda*/
.whiteGradiente{
  z-index: 0;
  background: linear-gradient(
    197deg, 
    rgba(255,255,255,1),
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0.9),
    rgba(255, 255, 255, 0.6),
    rgba(255, 255, 255, 0.4),
    rgba(255, 255, 255, 0))
};


