@keyframes augmente{
    0%{opacity: 0;font-size: 0px; }
    100%{font-size: 80px; opacity: 1;}
}

#title{
    animation-name: augmente;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    font-family: monospace !important;
} 

@keyframes goIn {
    from{
        opacity: 0;
    }
    
    to{
        opacity: 1;
    }
}

.logRegIn{
    animation-duration: 2s;
    animation-name: goIn;
};

@keyframes goOut {
    from{
        opacity: 1;
    }
    
    to{
        opacity: 0;
    }
}

.logRegOut{
    animation-duration: 2s;
    animation-name: goOut;
};




